.Admin {
    background-color: white;
    margin: 0 0 20px 0;
    width: 100%;
    align-items: center;
    border: 1px solid #efefef;
    color: black;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
}

.Admin .table {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0;
    max-width: 100%;
}

.Admin .table .row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
    justify-content: center;
}

.Admin .row div {
    width: 200px;
    padding: 8px;
    margin: 0;
}

.Admin .row button {
    text-align: center;
    color: white;
    border: none;
    background-color: orange;
    border-radius: 16px;
    margin: 0;
    height: 180px;
    width: 180px;
    padding: 20px;
    font-size: 24px;
    outline-style: none;
    cursor: pointer;
}

.Admin button[name=avaliar] {
    background-color: orangered;
}

.Admin button[name=cadastrar] {
    background-color: green;
}

.Admin button[name=excluir] {
    background-color:red;
}

.Admin button[name=sair]{
    background-color: #a33b3b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.Admin .footer-buttons {
    margin-top: 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0;
}

* {
    box-sizing: border-box;
}
