.CadastroAluno {
    background-color: white;
    margin: 0 0 20px 0;
    width: 100%;
    align-items: center;
    border: 1px solid #efefef;
    color: black;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
}

.CadastroAluno hr {
    width: 99%;
}

.CadastroAluno .input {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
}

.CadastroAluno .text-input {
    width: 70%;
}

.CadastroAluno .col-C005 {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
}

.CadastroAluno .col-C005 input[type=checkbox] {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0 0 0 10px;
    width: 16px;
    height: 16px;
}

.CadastroAluno .page-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

.CadastroAluno .input input[name=openLogin] {
    background-color: #a33b3b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.CadastroAluno .input input[name=pronto] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

* {
    box-sizing: border-box;
}

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1700px) {
    .CadastroAluno .col-C005 {
        text-align: center;
    }
    .CadastroAluno {
      width: 360px;
    }
    
}